body {
  background-color: #EAF0F7;
  width: 100%;
  font-size: 16px;
  font-family: play, 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

input {
  appearance: none;
  border-radius: 0;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}

#login {
  text-align: center;
  margin: 95px auto 30px;
  width: 100%;
}

#login h1 {
  text-align: center;
  margin: 0 0 19px 0;
  font-size: 2.8rem;
  font-weight: 700;
  color: #394878;
}

#login h3 {
  color: #394878;
  font-size: 1.3rem;
  margin: 0 auto 35px;
  font-weight: 400;
}

#login section.form {
  background-color: #fff;
  border: 1px solid #d4dee9;
  margin: 0 auto;
  width: 75%;
  max-width: 820px;
  padding-top: 30px;
  padding-bottom: 66px;
  overflow-x: hidden;
}

#login section.form .steps {
  width: 200%;
}

#login section.form .step1 {
  height: auto;
  display: inline-block;
  width: 50%;
}

#login section.form .step2 {
  display: inline-block;
  width: 50%;
}

#login section.form .step1.hide {
  animation: slide-fade-out-left .1s linear forwards;
}

#login section.form .step1.show {
  animation: slide-fade-in-left .1s linear forwards;
}

#login section.form .step2.show {
  animation: fade-in .1s linear forwards;
}

#login section.form .step2.hide {
  animation: fade-out .1s linear forwards;
}

#login section.form .errors {
  margin: 0 auto 40px;
  background-color: #ffe7e7;
  border: 1px solid #ed6060;
  text-align: left;
  color: #ed6060;
  width: 72%;
  padding: 10px 15px;
  visibility: hidden;
}

#login section.form .errors.show {
  visibility: visible;
}

#login section.form fieldset {
  margin: 0 auto;
  padding: 0;
  border: 0;
  width: 75%;
  position: relative;
}

#login section.form fieldset.key,
#login section.form fieldset.password {
  margin-bottom: 75px;
}

#login section.form .form-item .form-item-box {
  display: block;
  width: 100%;
  text-align: left;
}

#login section.form .ffl-label {
  font-size: 1.1rem;
  color: #a2adba;
  font-weight: 400;
  left: 15px;
}

#login section.form .ffl-floated .ffl-label {
  color: #99a4b0;
  font-size: 1rem;
  left: 0;
}

#login section.form .input {
  display: inline-block;
  border: none;
  border-bottom: 1px solid #c6d1d5;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
  color: #333333;
  display: inline-block;
  padding: 10px 50px 10px 15px;
  outline: none;
}

#login section.form .form-item.error .input {
  border-bottom: 1px solid #ED6060;
}

#login section.form .input:focus {
  border-color: #3c92e4;
}

#login section.form .clear {
  cursor: pointer;
  border: none;
  margin-left: -25px;
  padding: 0;
  visibility: hidden;
}

#login section.form .clear.show {
  visibility: visible;
}

#login section.form .visible {
  cursor: pointer;
  border: none;
  margin-left: -29px;
  padding: 0;
}

#login section.form .visible .on {
  display: none;
}

#login section.form .error-msg {
  display: block;
  margin: 4px auto;
  color: #ED6060;
  visibility: hidden;
}

#login section.form .form-item.error .error-msg {
  visibility: visible;
}

#login .btn{
  min-width: 300px;
  padding: 19px 30px;
  border: none;
  border-radius: 2px;
  background-color: #3c92e4;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}

#login .btn:visited,
#login .btn:hover,
#login .btn:focus{
  box-shadow: 0 5px 11px 0 #a2cbf2;
  background-color: #2a85da;
}

#login .btn:active{
  box-shadow: 0 5px 11px 0 #b5d9fb;
  background-color: #1866b0;
}

#login .step2 .btn {
  width: 220px;
  height: 60px;
  min-width: unset;
}

#login .back-btn {
  border: 1px solid #A5A5A5;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  color: #A5A5A5;
  width: 220px;
  height: 60px;
  margin: 0 10px 0 0;
}

#login .back-btn:visited,
#login .back-btn:hover,
#login .back-btn:focus,
#login .back-btn:active {
  box-shadow: 0 5px 11px 0 #d6e0ea;
}

.link-register:link,
.link-register:visited {
  text-decoration: none;
  color: #3c92e4;
  font-weight: 700;
}

.footer-msg {
  font-weight: 400;
  text-align: left;
  color: #808d9b;
  max-width: 820px;
  margin: 20px auto;
  line-height: 20px;
  width: 75%;
}

@media (max-width: 850px) {
  #login {
    margin-top: 55px;
    width: 85%;
  }

  .logo {
    width: 72px;
  }

  #login h1 {
    width: 100%;
    text-align: left;
    font-size: 2.3rem;
    line-height: 43px;
    margin: 20px auto 10px auto;
  }

  #login h3 {
    width: 100%;
    max-width: 820px;
    text-align: left;
    font-size: 1.1rem;
    margin: 10px auto 30px auto;
    line-height: 25px;
  }

  #login section.form {
    width: 100%;
    padding-top: 0;
    padding-bottom: 20px;
  }

  #login section.form .input {
    padding-left: 10px;
    outline: none;
  }

  #login section.form .errors {
    margin: 30px auto 20px auto;
    font-size: 0.9rem;
  }

  #login .btn {
    min-width: 250px;
    margin: 0 auto 2% auto;
    padding: 14px 30px;
  }

  .footer-msg {
    font-size: 0.95rem;
    line-height: 22px;
    width: 100%;
  }

  #login-form,
  #password-form {
    margin-top: 45px;
  }

  #login .back-btn {
    width: 138px;
    height: 50px;
    margin-right: 5px;
  }

  #login .step2 .btn {
    width: 138px;
    height: 50px;
    margin-top: 0px;
  }
}

@keyframes slide-fade-out-left {
  0% { margin-left: 0; opacity: 1; }
  100% { margin-left: -100%; opacity: 0; }
}

@keyframes slide-fade-in-left {
  0% { margin-left: -100%; opacity: 0; }
  100% { margin-left: 0; opacity: 1; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
